#sem comentarios
#Wed Mar 12 12:16:18 GMT 2025
fontName=Courier New
backColorG=255
fontBold=false
backColorB=255
sintax=true
fontItalic=false
file3=C\:\\Users\\user\\Documents\\Rumos_Files\\JS_Section\\portugol_section\\portugol\\pseudocode\\genero.alg
file2=C\:\\Users\\user\\Documents\\Rumos_Files\\JS_Section\\portugol_section\\portugol\\pseudocode\\media_notas.alg
file1=C\:\\Users\\user\\Documents\\Rumos_Files\\JS_Section\\portugol_section\\portugol\\pseudocode\\area.alg
backColorR=255
fontSize=20
