

/*EXTEND, para criar includes noutras propriedades*/
%btn-shared{
    display: inline-block;
    border: none;
    padding: .7rem 1.5rem;
    cursor:pointer;
    text-decoration: none;
    margin-top: 1rem;
}
