//@import 'variables'; //Não se usa underscore nem extensões
@use 'variables'; //@use em vez de @import no caso de importar partials; definir um "contexto" (namespace)
@use 'variables' as *;
@use 'functions' as *;
@use 'btns' as *;

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* body{
    background-color: variables.$light-color; //Cor de fundo
    color: variables.$dark-color; //Usar variables para buscar variáveis do ficheiro "variables.scss"; benéfico porque, se formos buscar coisas de outro ficheiro, não entra em conflito
    font-family: variables.$font-stack;
    line-height: 1.5;
} */

body{
    background-color: $light-color; //Cor de fundo
    color: $dark-color; //Usar variables para buscar variáveis do ficheiro "variables.scss"; benéfico porque, se formos buscar coisas de outro ficheiro, não entra em conflito

    /* font-family: $font-stack;
    line-height: 1.5; */

    /*Nested properties*/

    font : { //Dois pontos necessários!!!
        family: $font-stack;
        line-height: 1.5;
    }
    
}

/*Se der erro: Parar de fazer watch (Ctrl-C), fazer refresh ao browser e recomeçar*/

header{
    background-color: $dark-color;
    color: set-text-color($dark-color);
    padding: 1rem;

    h1{
        text-align: center; // Em vez de ser fazer header h1, coloca-se o h1 dentro do header
    }
}

.section {
    padding: 3rem;
    &-a{
        background-color: $primary-color;
        color: set-text-color($primary-color);
        /* color: white */
    }

    &-b{
        background-color: $secondary-color; //Em vez de se fazer .section .section-a .section-b, começa-se com o section e colocam-se as outras 2 classes dentro dela (& para não repetir o nome da classe)

        //Não há limites de hieraquia
        color: set-text-color($secondary-color);
        /* color: white; */
    }
}

.btn{
    &-light{
        @extend %btn-shared;
        background-color: $light-color;
        /* color: #333; */
        color: set-text-color($light-color);

        &:hover{
            @include transform(rotate(10deg));
        }
    }

    &-dark{
        @extend %btn-shared;
        background-color: $dark-color;
        color: set-text-color($dark-color);

        &:hover{
            @include transform(rotate(-5deg));
        }
        /* color: #fff; */
    }
}
/*NOTA: Não há limite de indentação*/

/*Função -  um "elemento" que recebe propriedades e que me retorna qualquer coisa*/
/*Mix-in - Extend, mas consigo passar parâmetros lá para dentro*/
/*Modules - Blocos de propriedades*/